@import "./styles/reset.scss";


header{
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    background-color: #93A8C9;
    color: #FFFFFF;

    
    a {
        padding: 10px
    }
}

#periodic-table{
    display: grid;
    position: relative;
    grid-column-gap:.4vw ;
    grid-row-gap: .4vw;
    grid-template-columns: repeat(18, 1fr);
    padding-left: 0;
    width: 900px;
    font-family: 'Roboto', Arial, sans-serif;


    .cell{
        pointer-events: none;
    }

    .element{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #0D2557;
        height: 60px;
        padding: 20px;
        text-align: center;
        cursor: pointer;

        .symbol{
            padding: 10px;
            font-weight: 100;
            pointer-events: none;
        }

        .atomicNum{
            font-size: 80%;
            pointer-events: none;
        }  
    }
    .element:hover{
        background-color: lightblue;
    }

}


