@import "./styles/reset.scss";


header{
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    background-color: #93A8C9;
    color: #FFFFFF;

    
    a {
        padding: 10px
    }
}

body{
    font-family: 'Roboto', Arial, sans-serif;
}


h3 {
    margin-left: 10px;
}

#periodic-table{
    display: grid;
    position: relative;
    top: 150px;
    grid-column-gap:.22vw ;
    grid-row-gap: .22vw;
    grid-template-columns: repeat(18, 1fr);
    // padding-left: 0;
    
   
    

    .element{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #0D2557;
        // width: 40px;
        height: 80px;
        padding: 10px;
        text-align: center;
        cursor: pointer;


        .symbol{
            padding: 10px;
            font-weight: 100;
            pointer-events: none;
        }

        .atomicNum{
            font-size: 80%;
            pointer-events: none;
        }  

        .cell{
            pointer-events: none;
        }

    }
    .element:hover{
        background-color: lightblue;
    }
}

#bohr-model {
    position: absolute;
    top: 110px;
    left: 200px;
    border: 1px solid black;
    border-radius: 25px;
    width: 450px;
    height: 450px;
}

#description {
    // font-family: 'Roboto', Arial, sans-serif;
    position: absolute;
    top: 75px;
    left: 700px;

    .category{
        font-weight: bold;
    }

    li {
        padding: 4px;
    }
    
    .data {
        border: 1px solid black;
        border-radius: 10px;
        height: 15px;
    }
}